header ul {
  list-style: none;
  font-size: 20px;
}

.container-1 {
  width: 1000px;
  margin: 20px 30px;
  padding: 10px;
}

.accent {
  color: red;
  background-color: aqua;
  padding: 0 30px;
}

.didplay-block {
  border: 2px solid black;
  width: 500px;
  padding: 20px;
  margin: 20px;
}

.didplay-block img {
  display: block;
  padding: 10px;
}

.didplay-inline {
  border: 2px solid black;
  width: 1000px;
  padding: 20px;
  margin: 20px;
}

.didplay-inline img {
  display: inline;
  padding: 10px;
}

.didplay-flex {
  display: flex;
  border: 2px solid black;
  width: 1000px;
  padding: 20px;
  margin: 20px;
  gap: 10px;
}

.border-box img {
  box-sizing: border-box;
  border: 2px solid black;
  width: 100px;
  padding: 20px;
  margin: 20px;
}
.content-box img {
  box-sizing: content-box;
  border: 2px solid black;
  width: 100px;
  padding: 20px;
  margin: 20px;
}

.container-2 {
  width: 1500px;
  margin: 20px 30px;
  padding: 10px;
}

.photo-1 {
  float: left;
}
.photo-2 {
  float: right;
}

.text-clear {
  clear: both;
}

.container-3 {
  width: 500px;
  height: 300px;
  overflow: scroll;
  margin: 30px;
}
.container-4 {
  width: 500px;
  height: 300px;
  margin: 30px;
  overflow: hidden;
}

.static {
  position: static;
  background: #f8ede6;
  width: 500px;
  height: 100px;
  font-size: 20px;
  padding: 10px;
}

.relative {
  position: relative;
  background: #e0ebcb;
  left: 50px;
  top: 20px;
  width: 500px;
  height: 100px;
  font-size: 20px;
  padding: 10px;
}

.parent-relative {
  position: relative;
  width: 1000px;
  height: 300px;
  background: #e0ebcb;
  font-size: 20px;
  padding: 10px;
}

.child-absolute {
  position: absolute;
  top: 50px;
  right: 50px;
  background: #b85c5c;
  color: white;
  font-size: 20px;
  width: 300px;
  height: 100px;
  padding: 10px;
}

.fixed {
  position: fixed;
  bottom: 20px;
  left: 200px;
  background: #6bbab2;
  padding: 10px;
  width: 500px;
  height: 100px;
  font-size: 20px;
}

.sticky {
  position: sticky;
  top: 10px;
  background: #b799e8;
  padding: 10px;
  width: 500px;
  height: 100px;
  font-size: 20px;
}
