.container-1 {
  width: 1000px;
  margin: 20px 30px;
  padding: 10px;
}

.accent {
  color: red;
  background-color: aqua;
  padding: 0 30px;
}

.didplay-block {
  border: 2px solid black;
  width: 500px;
  padding: 20px;
  margin: 20px;
}

.didplay-block img {
  display: block;
  padding: 10px;
}

.didplay-inline {
  border: 2px solid black;
  width: 1000px;
  padding: 20px;
  margin: 20px;
}

.didplay-inline img {
  display: inline;
  padding: 10px;
}

.didplay-flex {
  display: flex;
  border: 2px solid black;
  width: 1000px;
  padding: 20px;
  margin: 20px;
  gap: 10px;
}

.border-box img {
  box-sizing: border-box;
  border: 2px solid black;
  width: 100px;
  padding: 20px;
  margin: 20px;
}
.content-box img {
  box-sizing: content-box;
  border: 2px solid black;
  width: 100px;
  padding: 20px;
  margin: 20px;
}
